name: Deploy MkDocs (K3340 / Abakunov_Kirill) to GitHub Pages

on:
  push:
    branches: ["main"]
    paths:
      - "TonikX-ITMO_ICT_WebDevelopment_2025-2026/students/k3340/Abakunov_Kirill/docs/**"
      - "TonikX-ITMO_ICT_WebDevelopment_2025-2026/students/k3340/Abakunov_Kirill/mkdocs.yml"
      - "TonikX-ITMO_ICT_WebDevelopment_2025-2026/students/k3340/Abakunov_Kirill/requirements-docs.txt"
      - "TonikX-ITMO_ICT_WebDevelopment_2025-2026/.github/workflows/docs.yml"
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r TonikX-ITMO_ICT_WebDevelopment_2025-2026/students/k3340/Abakunov_Kirill/requirements-docs.txt

      - name: Build site
        run: |
          mkdocs build \
            -f TonikX-ITMO_ICT_WebDevelopment_2025-2026/students/k3340/Abakunov_Kirill/mkdocs.yml \
            -d site

      - uses: actions/upload-pages-artifact@v3
        with:
          path: site

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
